<div class="container-fluid">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12" [mapTypeControl]="'true'">
    <agm-marker [latitude]="lat" [longitude]="lng" iconUrl="../../assets/marker.png"></agm-marker>
    <ng-container *ngFor="let station of airStations">
      <agm-marker [latitude]="station.measurer.geom.coordinates[1]" [longitude]="station.measurer.geom.coordinates[0]">
          <agm-info-window [disableAutoPan]="true">

            <p class="info">
              <strong>PM 10: </strong> {{station.pm10 | number:'1.1-2'}}
            </p>
            <p class="info">
              <strong>PM 2.5: </strong> {{station.pm25 | number:'1.1-2'}}
            </p>
          </agm-info-window>
        </agm-marker>
      <agm-circle [latitude]="station.measurer.geom.coordinates[1] + 0.0001"
        [longitude]="station.measurer.geom.coordinates[0]" [radius]="200" [fillColor]="getColor(station.pm10)">
      </agm-circle>
    </ng-container>
  </agm-map>
</div>
<a class="info-panel-button" (click)="panelOpen = !panelOpen">
  <i class="material-icons" *ngIf="!panelOpen">
    keyboard_arrow_left
  </i>
  <i class="material-icons" *ngIf="panelOpen">
    clear
  </i>
</a>
<app-chart class="info-panel" [ngClass]="{'show': panelOpen}" [chartData]="airStations"></app-chart>
